#formbricks-modal-container {
	input {
		color: #000 !important;
	}
	textarea {
		color: #000 !important;
	}
}

.position-relative {
	position: relative;
}

.swiper-pagination {
	text-align: center;
}
.swiper-pagination-bullet {
	display: inline-block;
	background: #bfbfbf;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin: 3px;
	transition: 0.3s;
}
.swiper-pagination-bullet-active {
	background: var(--ion-color-primary);
}
.swiper-pagination {
	line-height: 0;
	padding-top: 5px;
}
.swiper-wrapper {
	// display: grid !important;
	// /* Смена оси автоматического размещения элементов */
	// grid-auto-flow: column;
	align-items: stretch;
}
.swiper-slide {
	height: auto !important;
}
ion-skeleton-text {
	margin: 0;
}

.loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// maybe we need to indicate overlay
	//background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	height: 100%;
	pointer-events: none;
}

.dib,
.inline-block {
	display: inline-block;
}
.db,
.block {
	display: block;
}
.df,
.flex {
	display: flex;
}
.fww {
	flex-wrap: wrap;
}
.fwnw {
	flex-wrap: nowrap;
}
.jcc {
	justify-content: center;
}
.jcfe {
	justify-content: flex-end;
}
.center {
	display: flex;
	justify-content: center;
}

.sb,
.space-between {
	justify-content: space-between;
}
.vc,
.aic {
	align-items: center;
}
.aifs {
	align-items: flex-start;
}
.aife,
.aie {
	align-items: flex-end;
}
.tac {
	text-align: center;
}
.text-capitalize {
	text-transform: capitalize !important;
}
.text-lowercase {
	text-transform: lowercase !important;
}


.negative-number {
	color: crimson;
}

body {
	--dot-bg: #eff4f7;
	--dot-color: #777;
	--ion-color-neutral: #747474;
	--ion-background-color: #eff4f7;
	--ion-content-background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));
	--ion-item-background: white;
	--ion-pane-background: white;
	--ion-card-background: white;
	--ion-card-border-color: #ffffff;


	--ion-card-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	--ion-transaction-card-border-color: #ddd;
	--ion-transaction-transparent-bg: rgba(255,255,255,.7);
	--ion-date-button-border-color: rgba(0,0,0,.5);

}


//@media (prefers-color-scheme: dark) {
	/*
	 * Dark Colors
	 * -------------------------------------------
	 */

	body {
		//--ion-color-primary: #428cff;
		//--ion-color-primary-rgb: 66, 140, 255;
		//--ion-color-primary-contrast: #ffffff;
		//--ion-color-primary-contrast-rgb: 255, 255, 255;
		//--ion-color-primary-shade: #3a7be0;
		//--ion-color-primary-tint: #5598ff;
		//
		//--ion-color-secondary: #50c8ff;
		//--ion-color-secondary-rgb: 80, 200, 255;
		//--ion-color-secondary-contrast: #ffffff;
		//--ion-color-secondary-contrast-rgb: 255, 255, 255;
		//--ion-color-secondary-shade: #46b0e0;
		//--ion-color-secondary-tint: #62ceff;
		//
		//--ion-color-tertiary: #6a64ff;
		//--ion-color-tertiary-rgb: 106, 100, 255;
		//--ion-color-tertiary-contrast: #ffffff;
		//--ion-color-tertiary-contrast-rgb: 255, 255, 255;
		//--ion-color-tertiary-shade: #5d58e0;
		//--ion-color-tertiary-tint: #7974ff;
		//
		//--ion-color-success: #2fdf75;
		//--ion-color-success-rgb: 47, 223, 117;
		//--ion-color-success-contrast: #000000;
		//--ion-color-success-contrast-rgb: 0, 0, 0;
		//--ion-color-success-shade: #29c467;
		//--ion-color-success-tint: #44e283;
		//
		//--ion-color-warning: #ffd534;
		//--ion-color-warning-rgb: 255, 213, 52;
		//--ion-color-warning-contrast: #000000;
		//--ion-color-warning-contrast-rgb: 0, 0, 0;
		//--ion-color-warning-shade: #e0bb2e;
		//--ion-color-warning-tint: #ffd948;
		//
		//--ion-color-danger: #ff4961;
		//--ion-color-danger-rgb: 255, 73, 97;
		//--ion-color-danger-contrast: #ffffff;
		//--ion-color-danger-contrast-rgb: 255, 255, 255;
		//--ion-color-danger-shade: #e04055;
		//--ion-color-danger-tint: #ff5b71;
		//
		//--ion-color-dark: #f4f5f8;
		//--ion-color-dark-rgb: 244, 245, 248;
		//--ion-color-dark-contrast: #000000;
		//--ion-color-dark-contrast-rgb: 0, 0, 0;
		//--ion-color-dark-shade: #d7d8da;
		//--ion-color-dark-tint: #f5f6f9;
		//
		//--ion-color-medium: #989aa2;
		//--ion-color-medium-rgb: 152, 154, 162;
		//--ion-color-medium-contrast: #000000;
		//--ion-color-medium-contrast-rgb: 0, 0, 0;
		//--ion-color-medium-shade: #86888f;
		//--ion-color-medium-tint: #a2a4ab;
		//
		//--ion-color-light: #222428;
		//--ion-color-light-rgb: 34, 36, 40;
		//--ion-color-light-contrast: #ffffff;
		//--ion-color-light-contrast-rgb: 255, 255, 255;
		//--ion-color-light-shade: #1e2023;
		//--ion-color-light-tint: #383a3e;
	}

	/*
	 * iOS Dark Theme
	 * -------------------------------------------
	 */

	.ios body.dark {
		--ion-color-base: #000;
		--ion-color-medium: #000;
		--dot-bg: #030405;
		--dot-color: rgba(255,255,255,.2);
		--ion-color-neutral: #b5b5b5;
		--ion-background-color: #000000;
		--ion-background-color-rgb: 0, 0, 0;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--ion-color-step-50: #0d0d0d;
		--ion-color-step-100: #1a1a1a;
		--ion-color-step-150: #262626;
		--ion-color-step-200: #333333;
		--ion-color-step-250: #404040;
		--ion-color-step-300: #4d4d4d;
		--ion-color-step-350: #595959;
		--ion-color-step-400: #666666;
		--ion-color-step-450: #737373;
		--ion-color-step-500: #808080;
		--ion-color-step-550: #8c8c8c;
		--ion-color-step-600: #999999;
		--ion-color-step-650: #a6a6a6;
		--ion-color-step-700: #b3b3b3;
		--ion-color-step-750: #bfbfbf;
		--ion-color-step-800: #cccccc;
		--ion-color-step-850: #d9d9d9;
		--ion-color-step-900: #e6e6e6;
		--ion-color-step-950: #f2f2f2;

		--ion-item-background: #000000;

		--ion-color-light: #1a1a1a;
		--ion-color-light-rgb: 110, 110, 110;

		//--ion-card-background: #1c1c1d;
		--ion-pane-background: rgba(0,0,0,.5);
		--ion-card-background: rgba(0,0,0,.3);
		//--ion-card-border-color: #2c2a2a;
		--ion-card-border-color: rgba(255,255,255,.03);
		--ion-transaction-card-border-color: rgba(255,255,255,.03);
		--ion-transaction-transparent-bg: rgba(0,0,0,.7);
		--ion-content-background: linear-gradient(109.6deg, rgba(36, 45, 57, 0.2) 11.2%, rgba(16, 37, 60, 0.5) 51.2%, rgba(0, 0, 0, 0.5) 98.6%);
		--ion-date-button-border-color: rgba(255,255,255,.5);
	}

	.ios ion-modal {
		--ion-background-color: var(--ion-color-step-100);
		--ion-toolbar-background: var(--ion-color-step-150);
		--ion-toolbar-border-color: var(--ion-color-step-250);
	}

	/*
	 * Material Design Dark Theme
	 * -------------------------------------------
	 */

	.md body.dark {
		--dot-bg: black;
		--dot-color: white;
		--ion-color-neutral: #b5b5b5;
		--ion-background-color: #121212;
		--ion-background-color-rgb: 18, 18, 18;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--ion-border-color: #222222;

		--ion-color-step-50: #1e1e1e;
		--ion-color-step-100: #2a2a2a;
		--ion-color-step-150: #363636;
		--ion-color-step-200: #414141;
		--ion-color-step-250: #4d4d4d;
		--ion-color-step-300: #595959;
		--ion-color-step-350: #656565;
		--ion-color-step-400: #717171;
		--ion-color-step-450: #7d7d7d;
		--ion-color-step-500: #898989;
		--ion-color-step-550: #949494;
		--ion-color-step-600: #a0a0a0;
		--ion-color-step-650: #acacac;
		--ion-color-step-700: #b8b8b8;
		--ion-color-step-750: #c4c4c4;
		--ion-color-step-800: #d0d0d0;
		--ion-color-step-850: #dbdbdb;
		--ion-color-step-900: #e7e7e7;
		--ion-color-step-950: #f3f3f3;

		--ion-item-background: #1e1e1e;

		--ion-toolbar-background: #1f1f1f;

		--ion-tab-bar-background: #1f1f1f;

		--ion-pane-background: rgba(0,0,0,.5);
		--ion-card-background: rgba(0,0,0,.3);
		--ion-card-border-color: #2c2a2a;
		--ion-transaction-transparent-bg: rgba(16,17,23,.7);
		--ion-content-background: linear-gradient(109.6deg, rgba(36, 45, 57, 0.2) 11.2%, rgba(16, 37, 60, 0.5) 51.2%, rgba(0, 0, 0, 0.5) 98.6%);
		--ion-date-button-border-color: rgba(255,255,255,.5);
	}
//}


